/models
/logs
/proj/__pycache__
__pycache__/
__pycache__
**/__pycache__/
/proj/agent/__pycache__
/proj/agent/agents/__pycache__
/proj/agent/common/__pycache__
*.pyc 
/pilot/data
/pilot/message
/pilot
/web/node_modules
/web/out
/web/.next/
.next
/proj/app/static/_next/static/chunks
/proj/app/static/_next/static/css
